<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">TODO</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/category" routerLinkActive="active">Todo list</a>
    <a class="p-2 text-dark" routerLink="/category/add" routerLinkActive="active">Todo Add</a>
  </nav>
  <button class="btn btn-outline-primary" (click)="logout()">Sign Out</button>
</div>

<div class="container-fluid">
  <router-outlet>
      <ul class="row category-list">
        <li *ngFor="let category of categories; index as i; first as isFirst" class="col-2">
          <app-category-item [category]="category"></app-category-item>
        </li>
      </ul>
  </router-outlet>
</div>
